{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!--   Начало указания тега     -->

        <div class="row mx-2 my-2" id="page-header" >
          <h4>Tag: <u>{{ tag }}</u></h4>
        </div>

<!--   Конец указания тега     -->

        <div class="col m-3" id="questions">
          {% for question in questions %}
            {% include 'components/question-item.html' %}
          {% endfor %}
        </div>

        {% include 'components/pagination.html' with objects=questions%}

{% endblock %}