{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!--   Начало списка вопросов     -->

        <div class="row mx-5 my-2" id="page-header1" >
          <div class="list-group list-group-horizontal text-center">
            {% if new %}
            <a class="list-group-item list-group-item-action list-group-item-success active" aria-current="true">
              <h5>New Questions</h5>
            </a>
            <a href="{% url 'hot' %}" class="list-group-item list-group-item-action list-group-item-success">
              <h5>Hot questions</h5>
            </a>
            {% else %}
            <a href="{% url 'index' %}" class="list-group-item list-group-item-action list-group-item-success" aria-current="true">
              <h5>New Questions</h5>
            </a>
            <a href="" class="list-group-item list-group-item-action list-group-item-success active">
              <h5>Hot questions</h5>
            </a>
            {% endif %}
          </div>
        </div>

        <div class="col m-3" id="questions">
          {% for question in questions %}
            {% include 'components/question-item.html' %}
          {% endfor %}
        </div>

        {% include 'components/pagination.html' with objects=questions%}

  <!--    Конец списка вопросов     -->
{% endblock %}
