{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<!--   Начало страницы вопроса     -->

        <div class="card mt-3 my-card row question ">
          <div class="row g-0">
            <div class="col-2">
              <div class="d-flex mt-4 align-items-center justify-content-center">
                <img class="img-fluid rounded d-block q-user-avatar" src="{% static '/img/question.jpg' %}" alt="User Avatar" width="50%">
              </div>
              <div class="d-flex my-2 align-items-center justify-content-center">
                <button class="like-btn btn btn-sm my-0 mx-2">
                  <img class="img-fluid" src="{% static '/img/like.png' %}" alt="Like" width="20" height="20">
                </button>
                <div class="counter mx-1">
                  <b>{{ question.likes_count }}</b>
                </div>
                <button class="dislike-btn btn btn-sm my-0 mx-2">
                  <img class="img-fluid" src="{% static '/img/dislike.png' %}" alt="Dislike" width="20" height="20">
                </button>
              </div>
            </div>
            <div class="col-10">
              <div class="card-body">
                <h5 class="card-title my-1">{{ question.title }}</h5>
                <p class="card-text my-2">{{ question.text }}</p>
                <p class="card-text mt-2 mb-1">Tags:
                    {% for tag in question.tags.all  %}
                    <a class="card-text" href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}</p>
              </div>
            </div>
          </div>
        </div>

        <hr class="hr py-1">

        <div class="col m-3" id="answers">
          {% for answer in answers %}
            {% include 'components/answer-item.html' %}
          {% endfor %}
        </div>

        {% include 'components/pagination.html' with objects=answers%}

        <hr class="hr py-1">

        <div class="row">
          <form class="form" action="">
            <div class="form-group">
              <p class="mx-1" style="font-size: 1.3rem">Your Answer</p>
              <textarea class="form-control" rows="3" placeholder="Enter your answer here..." maxlength="5000"></textarea>
              <input class="btn btn-secondary btn-sm mt-3 my-5" type="submit" value="Answer">
            </div>
          </form>
        </div>


  <!--   Конец страницы вопроса     -->
{% endblock %}